# Запросы к базе данных

## Описание

В самостоятельном проекте этого курса вы будете работать с базой данных, которая хранит информацию о венчурных фондах и инвестициях в компании-стартапы. Эта база данных основана на датасете [Startup Investments](https://www.kaggle.com/datasets/justinas/startup-investments), опубликованном на популярной платформе для соревнований по исследованию данных Kaggle.

Анализировать рынок инвестиций без подготовки может быть непросто. Поэтому сначала познакомьтесь с важными понятиями, которые вам встретятся в работе с базой данных. 

*Венчурные фонды* — это финансовые организации, которые могут позволить себе высокий риск и инвестировать в компании с инновационной бизнес-идеей или разработанной новой технологией, то есть в *стартапы*. Цель венчурных фондов — в будущем получить значительную прибыль, которая в разы превысит размер их трат на инвестиции в компанию. Если стартап подорожает, венчурный фонд может получить долю в компании или фиксированный процент от её выручки. 

Чтобы процесс финансирования стал менее рискованным, его делят на стадии — *раунды*. Тот или иной раунд зависит от того, какого уровня развития достигла компания. 

Первые этапы — предпосевной и посевной раунды. Предпосевной раунд предполагает, что компания как таковая ещё не создана и находится в стадии замысла. Следующий — посевной — раунд знаменует рост проекта: создатели компании разрабатывают бизнес-модель и привлекают инвесторов. 

Если компании требуется ментор или наставник — она привлекает бизнес-ангела. Бизнес-ангелы — инвесторы, которые помимо финансовой поддержки предлагают экспертную помощь. Такой раунд называют *ангельским*. 

Когда стартап становится компанией с проверенной бизнес-моделью и начинает зарабатывать самостоятельно, предложений инвесторов становится больше. Это раунд A, а за ним следуют и другие: B, C, D — на этих этапах компания активно развивается и готовится к IPO. 

Иногда выделяют венчурный раунд — финансирование, которое могло поступить от венчурного фонда на любом этапе: начальном или более позднем. 

В данных об инвестициях вам встретятся упоминания раундов, но самостоятельный проект не предполагает, что вы должны разбираться в их специфике лучше любого инвестора. Главное — понимать, как устроены данные. 

Вы уже знаете, что такое ER-диаграмма. Работу с новой базой данных лучше начать с изучения схемы.

![basic_sql_project_erd.png](./basic_sql_project_erd.png)

Теперь можно познакомиться с данными, которые хранят таблицы.

**acquisition**

Содержит информацию о покупках одних компаний другими.

Таблица включает такие поля:

- первичный ключ `id` — идентификатор или уникальный номер покупки;
- внешний ключ `acquiring_company_id` — ссылается на таблицу `company` — идентификатор компании-покупателя, то есть той, что покупает другую компанию;
- внешний ключ `acquired_company_id` — ссылается на таблицу `company` — идентификатор компании, которую покупают;
- `term_code` — способ оплаты сделки:
    - `cash` — наличными;
    - `stock` — акциями компании;
    - `cash_and_stock` — смешанный тип оплаты: наличные и акции.
- `price_amount` — сумма покупки в долларах;
- `acquired_at` — дата совершения сделки;
- `created_at` — дата и время создания записи в таблице;
- `updated_at` — дата и время обновления записи в таблице.

**company**

Содержит информацию о компаниях-стартапах.

- первичный ключ `id` — идентификатор, или уникальный номер компании;
- `name` — название компании;
- `category_code` — категория деятельности компании, например:
    - `news` — специализируется на работе с новостями;
    - `social` — специализируется на социальной работе.
- `status` — статус компании:
    - `acquired` — приобретена;
    - `operating` — действует;
    - `ipo` — вышла на IPO;
    - `closed` — перестала существовать.
- `founded_at` — дата основания компании;
- `closed_at` — дата закрытия компании, которую указывают в том случае, если компании больше не существует;
- `domain` — домен сайта компании;
- `network_username` — профиль фонда в корпоративной сети биржи;
- `country_code` — код страны, например, `USA` для США, `GBR` для Великобритании;
- `investment_rounds` — число раундов, в которых компания участвовала как инвестор;
- `funding_rounds` — число раундов, в которых компания привлекала инвестиции;
- `funding_total` — сумма привлечённых инвестиций в долларах;
- `milestones` — количество важных этапов в истории компании;
- `created_at` — дата и время создания записи в таблице;
- `updated_at` — дата и время обновления записи в таблице.

**education**

Хранит информацию об уровне образования сотрудников компаний.

- первичный ключ `id` — уникальный номер записи с информацией об образовании;
- внешний ключ `person_id` — ссылается на таблицу `people` — идентификатор человека, информация о котором представлена в записи;
- `degree_type` — учебная степень, например:
    - `BA` — Bachelor of Arts — бакалавр гуманитарных наук;
    - `MS` — Master of Science — магистр естественных наук.
- `instituition` — учебное заведение, название университета;
- `graduated_at` — дата завершения обучения, выпуска;
- `created_at` — дата и время создания записи в таблице;
- `updated_at` — дата и время обновления записи в таблице.

**fund**

Хранит информацию о венчурных фондах. 

- первичный ключ `id` — уникальный номер венчурного фонда;
- `name` — название венчурного фонда;
- `founded_at` — дата основания фонда;
- `domain` — домен сайта фонда;
- `network_username` — профиль фонда в корпоративной сети биржи;
- `country_code` — код страны фонда;
- `investment_rounds` — число инвестиционных раундов, в которых фонд принимал участие;
- `invested_companies` — число компаний, в которые инвестировал фонд;
- `milestones` — количество важных этапов в истории фонда;
- `created_at` — дата и время создания записи в таблице;
- `updated_at` — дата и время обновления записи в таблице.

**funding_round**

Содержит информацию о раундах инвестиций. 

- первичный ключ `id` — уникальный номер инвестиционного раунда;
- внешний ключ `company_id` — ссылается на таблицу `company` — уникальный номер компании, участвовавшей в инвестиционном раунде;
- `funded_at` — дата проведения раунда;
- `funding_round_type` — тип инвестиционного раунда, например:
    - `venture` — венчурный раунд;
    - `angel` — ангельский раунд;
    - `series_a` — раунд А.
- `raised_amount` — сумма инвестиций, которую привлекла компания в этом раунде в долларах;
- `pre_money_valuation` — предварительная, проведённая до инвестиций оценка стоимости компании в долларах;
- `participants` — количество участников инвестиционного раунда;
- `is_first_round` — является ли этот раунд первым для компании;
- `is_last_round` — является ли этот раунд последним для компании;
- `created_at` — дата и время создания записи в таблице;
- `updated_at` — дата и время обновления записи в таблице.

**investment**

Содержит информацию об инвестициях венчурных фондов в компании-стартапы.

- первичный ключ `id` — уникальный номер инвестиции;
- внешний ключ `funding_round_id` — ссылается на таблицу `funding_round` — уникальный номер раунда инвестиции;
- внешний ключ `company_id` — ссылается на таблицу `company` — уникальный номер компании-стартапа, в которую инвестируют;
- внешний ключ `fund_id` — ссылается на таблицу `fund` — уникальный номер фонда, инвестирующего в компанию-стартап;
- `created_at` — дата и время создания записи в таблице;
- `updated_at` — дата и время обновления записи в таблице.

**people**

Содержит информацию о сотрудниках компаний-стартапов.

- первичный ключ `id` — уникальный номер сотрудника;
- `first_name` — имя сотрудника;
- `last_name` — фамилия сотрудника;
- внешний ключ `company_id` — ссылается на таблицу `company` — уникальный номер компании-стартапа;
- `network_username` — профиль фонда в корпоративной сети биржи;
- `created_at` — дата и время создания записи в таблице;
- `updated_at` — дата и время обновления записи в таблице.

В самостоятельном проекте вам нужно проанализировать данные о фондах и инвестициях и написать запросы к базе.

## Задания

### Задание 1

Отобразите все записи из таблицы `company` по компаниям, которые закрылись.

```mysql
SELECT *
FROM company
WHERE status = 'closed';
```

### Задание 2

Отобразите количество привлечённых средств для новостных компаний США. Используйте данные из таблицы `company`. Отсортируйте таблицу по убыванию значений в поле `funding_total`.

```mysql
SELECT funding_total
FROM company
WHERE category_code = 'news'
  AND country_code = 'USA'
ORDER BY funding_total DESC;
```

### Задание 3

Найдите общую сумму сделок по покупке одних компаний другими в долларах. Отберите сделки, которые осуществлялись только за наличные с 2011 по 2013 год включительно.

```mysql
SELECT SUM(price_amount)
FROM acquisition
WHERE term_code = 'cash'
  AND EXTRACT(YEAR FROM acquired_at) BETWEEN 2011 AND 2013;
```

### Задание 4

Отобразите имя, фамилию и названия аккаунтов людей в поле `network_username`, у которых названия аккаунтов начинаются на `'Silver'`.

```mysql
SELECT first_name,
       last_name,
       network_username
FROM people
WHERE network_username LIKE 'Silver%';
```

### Задание 5

Выведите на экран всю информацию о людях, у которых названия аккаунтов в поле `network_username` содержат подстроку `'money'`, а фамилия начинается на `'K'`.

```mysql
SELECT *
FROM people
WHERE last_name LIKE 'K%'
  AND network_username LIKE '%money%';
```

### Задание 6

Для каждой страны отобразите общую сумму привлечённых инвестиций, которые получили компании, зарегистрированные в этой стране. Страну, в которой зарегистрирована компания, можно определить по коду страны. Отсортируйте данные по убыванию суммы.

```mysql
SELECT country_code,
       SUM(funding_total) AS sum
FROM company
GROUP BY country_code
ORDER BY sum DESC;
```

### Задание 7

Составьте таблицу, в которую войдёт дата проведения раунда, а также минимальное и максимальное значения суммы инвестиций, привлечённых в эту дату.

Оставьте в итоговой таблице только те записи, в которых минимальное значение суммы инвестиций не равно нулю и не равно максимальному значению.

```mysql
SELECT funded_at,
       MIN(raised_amount),
       MAX(raised_amount)
FROM funding_round
GROUP BY funded_at
HAVING MIN(raised_amount) != 0
  AND MIN(raised_amount) != MAX(raised_amount);
```

### Задание 8

Создайте поле с категориями:
- Для фондов, которые инвестируют в 100 и более компаний, назначьте категорию `high_activity`.
- Для фондов, которые инвестируют в 20 и более компаний до 100, назначьте категорию `middle_activity`.
- Если количество инвестируемых компаний фонда не достигает 20, назначьте категорию `low_activity`.

Отобразите все поля таблицы `fund` и новое поле с категориями.

```mysql
SELECT *,
       CASE 
           WHEN invested_companies < 20 THEN 'low_activity'
           WHEN invested_companies < 100 THEN 'middle_activity'
           ELSE 'high_activity'
       END
FROM fund;
```

### Задание 9

Для каждой из категорий, назначенных в предыдущем задании, посчитайте округлённое до ближайшего целого числа среднее количество инвестиционных раундов, в которых фонд принимал участие. Выведите на экран категории и среднее число инвестиционных раундов. Отсортируйте таблицу по возрастанию среднего.

```mysql
SELECT CASE
           WHEN invested_companies>=100 THEN 'high_activity'
           WHEN invested_companies>=20 THEN 'middle_activity'
           ELSE 'low_activity'
       END AS activity,
       ROUND(AVG(investment_rounds)) AS avg
FROM fund
GROUP BY activity
ORDER BY avg;
```

### Задание 10

Проанализируйте, в каких странах находятся фонды, которые чаще всего инвестируют в стартапы.

Для каждой страны посчитайте минимальное, максимальное и среднее число компаний, в которые инвестировали фонды этой страны, основанные с 2010 по 2012 год включительно. Исключите страны с фондами, у которых минимальное число компаний, получивших инвестиции, равно нулю.

Выгрузите десять самых активных стран-инвесторов: отсортируйте таблицу по среднему количеству компаний от большего к меньшему. Затем добавьте сортировку по коду страны в лексикографическом порядке.

```mysql
SELECT country_code,
       MIN(invested_companies),
       MAX(invested_companies),
       AVG(invested_companies) AS avg_invested_companies
FROM fund
WHERE founded_at BETWEEN '2010-01-01' AND '2012-12-31'
GROUP BY country_code
HAVING MIN(invested_companies) != 0
ORDER BY avg_invested_companies DESC, country_code
LIMIT 10;
```

### Задание 11

Отобразите имя и фамилию всех сотрудников стартапов. Добавьте поле с названием учебного заведения, которое окончил сотрудник, если эта информация известна.

```mysql
SELECT p.first_name,
       p.last_name,
       e.instituition
FROM people AS p
LEFT JOIN education AS e ON e.person_id = p.id;
```

### Задание 12


Для каждой компании найдите количество учебных заведений, которые окончили её сотрудники. Выведите название компании и число уникальных названий учебных заведений. Составьте топ-5 компаний по количеству университетов.

```mysql
SELECT c.name AS company_name,
       COUNT(DISTINCT e.instituition) AS instituition_count
FROM people AS p
LEFT JOIN education AS e ON e.person_id = p.id
INNER JOIN company AS c ON c.id = p.company_id
GROUP BY company_name
ORDER BY instituition_count DESC
LIMIT 5;
```

### Задание 13


Составьте список с уникальными названиями закрытых компаний, для которых первый раунд финансирования оказался последним.

```mysql
SELECT DISTINCT(c.name)
FROM company AS c
RIGHT JOIN funding_round AS fr ON fr.company_id = c.id
WHERE c.status = 'closed'
  AND fr.is_first_round = 1
  AND fr.is_last_round = 1;
```

### Задание 14

Составьте список уникальных номеров сотрудников, которые работают в компаниях, отобранных в предыдущем задании.

```mysql
SELECT p.id
FROM people AS p
LEFT JOIN company AS c ON c.id = p.company_id
WHERE c.name IN 
  (SELECT DISTINCT(c.name)
   FROM company AS c
   RIGHT JOIN funding_round AS fr ON fr.company_id = c.id
   WHERE c.status = 'closed'
     AND fr.is_first_round = 1
     AND fr.is_last_round = 1);
```

### Задание 15

Составьте таблицу, куда войдут уникальные пары с номерами сотрудников из предыдущей задачи и учебным заведением, которое окончил сотрудник.

```mysql
SELECT DISTINCT p.id, 
       e.instituition
FROM people AS p
LEFT JOIN company AS c ON c.id = p.company_id
RIGHT JOIN education AS e ON e.person_id = p.id
WHERE c.name IN 
  (SELECT DISTINCT(c.name)
   FROM company AS c
   RIGHT JOIN funding_round AS fr ON fr.company_id = c.id
   WHERE c.status = 'closed'
     AND fr.is_first_round = 1
     AND fr.is_last_round = 1);
```

### Задание 16

Посчитайте количество учебных заведений для каждого сотрудника из предыдущего задания. При подсчёте учитывайте, что некоторые сотрудники могли окончить одно и то же заведение дважды.

```mysql
SELECT p.id, 
       COUNT(e.instituition)
FROM people AS p
LEFT JOIN company AS c ON c.id = p.company_id
RIGHT JOIN education AS e ON e.person_id = p.id
WHERE c.name IN 
  (SELECT DISTINCT(c.name)
   FROM company AS c
   RIGHT JOIN funding_round AS fr ON fr.company_id = c.id
   WHERE c.status = 'closed'
     AND fr.is_first_round = 1
     AND fr.is_last_round = 1)
GROUP BY p.id;
```

### Задание 17

Дополните предыдущий запрос и выведите среднее число учебных заведений (всех, не только уникальных), которые окончили сотрудники разных компаний. Нужно вывести только одну запись, группировка здесь не понадобится.

```mysql
WITH people AS
  (SELECT p.id, 
       COUNT(e.instituition)
   FROM people AS p
   LEFT JOIN company AS c ON c.id = p.company_id
   RIGHT JOIN education AS e ON e.person_id = p.id
   WHERE c.name IN 
     (SELECT DISTINCT(c.name)
      FROM company AS c
      RIGHT JOIN funding_round AS fr ON fr.company_id = c.id
      WHERE c.status = 'closed'
        AND fr.is_first_round = 1
        AND fr.is_last_round = 1)
   GROUP BY p.id)

SELECT AVG(count)
FROM people;
```

### Задание 18

Напишите похожий запрос: выведите среднее число учебных заведений (всех, не только уникальных), которые окончили сотрудники Socialnet.

```mysql
WITH people AS
  (SELECT p.id, 
       COUNT(e.instituition)
   FROM people AS p
   LEFT JOIN company AS c ON c.id = p.company_id
   RIGHT JOIN education AS e ON e.person_id = p.id
   WHERE c.name = 'Socialnet'
   GROUP BY p.id)

SELECT AVG(count)
FROM people;
```

### Задание 19

Составьте таблицу из полей:
- `name_of_fund` — название фонда;
- `name_of_company` — название компании;
- `amount` — сумма инвестиций, которую привлекла компания в раунде.

В таблицу войдут данные о компаниях, в истории которых было больше шести важных этапов, а раунды финансирования проходили с 2012 по 2013 год включительно.

```mysql
SELECT f.name AS name_of_fund,
       c.name AS name_of_company,
       fr.raised_amount AS amount
FROM investment AS i
LEFT JOIN company AS c ON c.id = i.company_id
LEFT JOIN fund AS f ON f.id = i.fund_id
LEFT JOIN funding_round AS fr ON fr.id = i.funding_round_id
WHERE c.milestones > 6
  AND EXTRACT(YEAR FROM fr.funded_at) BETWEEN 2012 AND 2013;
```

### Задание 20

Выгрузите таблицу, в которой будут такие поля:
- название компании-покупателя;
- сумма сделки;
- название компании, которую купили;
- сумма инвестиций, вложенных в купленную компанию;
- доля, которая отображает, во сколько раз сумма покупки превысила сумму вложенных в компанию инвестиций, округлённая до ближайшего целого числа.

Не учитывайте те сделки, в которых сумма покупки равна нулю. Если сумма инвестиций в компанию равна нулю, исключите такую компанию из таблицы.

Отсортируйте таблицу по сумме сделки от большей к меньшей, а затем по названию купленной компании в лексикографическом порядке. Ограничьте таблицу первыми десятью записями.

```mysql
SELECT c_acquiring.name,
       a.price_amount,
       c_acquired.name,
       c_acquired.funding_total,
       ROUND(a.price_amount / c_acquired.funding_total)
FROM acquisition AS a
LEFT JOIN company AS c_acquiring ON c_acquiring.id = a.acquiring_company_id
LEFT JOIN company AS c_acquired ON c_acquired.id = a.acquired_company_id
WHERE a.price_amount != 0
  AND c_acquired.funding_total != 0
ORDER BY a.price_amount DESC, c_acquired.name
LIMIT 10
```

### Задание 21

Выгрузите таблицу, в которую войдут названия компаний из категории `social`, получившие финансирование с 2010 по 2013 год включительно. Проверьте, что сумма инвестиций не равна нулю. Выведите также номер месяца, в котором проходил раунд финансирования.

```mysql
SELECT c.name, 
       EXTRACT(MONTH FROM fr.funded_at)
FROM company AS c
LEFT JOIN funding_round AS fr ON fr.company_id = c.id
WHERE c.category_code = 'social'
  AND fr.raised_amount != 0
  AND EXTRACT(YEAR FROM fr.funded_at) BETWEEN 2010 AND 2013;
```

### Задание 22

Отберите данные по месяцам с 2010 по 2013 год, когда проходили инвестиционные раунды. Сгруппируйте данные по номеру месяца и получите таблицу, в которой будут поля:
- номер месяца, в котором проходили раунды;
- количество уникальных названий фондов из США, которые инвестировали в этом месяце;
- количество компаний, купленных за этот месяц;
- общая сумма сделок по покупкам в этом месяце.

```mysql
WITH 
fund AS (SELECT EXTRACT(MONTH FROM fr.funded_at) AS month, 
                COUNT(DISTINCT f.name) AS count
         FROM funding_round AS fr
         LEFT JOIN investment AS i ON i.funding_round_id = fr.id
         LEFT JOIN fund AS f ON f.id = i.fund_id
         WHERE EXTRACT(YEAR FROM fr.funded_at) BETWEEN 2010 AND 2013
           AND f.country_code = 'USA'
         GROUP BY month),
acquisition AS (SELECT EXTRACT(MONTH FROM a.acquired_at) AS month,
                       COUNT(*) AS count,
                       SUM(price_amount) AS sum
                FROM acquisition AS a
                WHERE EXTRACT(YEAR FROM a.acquired_at) BETWEEN 2010 AND 2013
                GROUP BY month)

SELECT f.month, 
       f.count AS fund_count,
       a.count AS company_count,
       a.sum
FROM fund AS f
INNER JOIN acquisition AS a ON a.month = f.month;
```

### Задание 23

Составьте сводную таблицу и выведите среднюю сумму инвестиций для стран, в которых есть стартапы, зарегистрированные в 2011, 2012 и 2013 годах. Данные за каждый год должны быть в отдельном поле. Отсортируйте таблицу по среднему значению инвестиций за 2011 год от большего к меньшему.

```mysql
WITH 
inv_2011 AS (SELECT c.country_code,
                    AVG(funding_total) AS avg_2011
             FROM company AS c
             WHERE EXTRACT(YEAR FROM c.founded_at) = 2011
             GROUP BY c.country_code
             HAVING COUNT(*) > 0),
inv_2012 AS (SELECT c.country_code,
                    AVG(funding_total) AS avg_2012
             FROM company AS c
             WHERE EXTRACT(YEAR FROM c.founded_at) = 2012
             GROUP BY c.country_code
             HAVING COUNT(*) > 0),
inv_2013 AS (SELECT c.country_code,
                    AVG(funding_total) AS avg_2013
             FROM company AS c
             WHERE EXTRACT(YEAR FROM c.founded_at) = 2013
             GROUP BY c.country_code
             HAVING COUNT(*) > 0)

SELECT inv_2011.country_code,
       inv_2011.avg_2011,
       inv_2012.avg_2012,
       inv_2013.avg_2013
FROM inv_2011
INNER JOIN inv_2012 ON inv_2012.country_code = inv_2011.country_code
INNER JOIN inv_2013 ON inv_2013.country_code = inv_2011.country_code
ORDER BY inv_2011.avg_2011 DESC;
```